@import url("./styles.css");
@import url("./index.css");
@import url("./index-mobile.css");


.list-details {
    align-items: center;
    margin-top: 30px;
}

.pb-none p, .content-cat-detail p {
    font-size: 17px;
}

.filterbar {
    background-color: rgba(39, 153, 229, 0.12);
    justify-content: space-between;
    padding: 15px 11%;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}


.arrow {
    font-size: 12px;
    margin-left: 5px;
}

.filter-text {
    font-size: var(--font-size-xs);
    font-weight: bold;
    cursor: pointer;
}

.search-input {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid var(--color-dark-purple);
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ms-auto {
    margin-left: auto;
}

.cust-link {
    display : none;
}

.main-container.pb-none {
    padding-bottom: var(--padding-m);
    margin-bottom: 3%;
}

.pb-2 {
    padding-bottom: var(--padding-m);
}

.img-couv {
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 150px;
    height: 200px;
}

.icon-review {
    width: 20px;
}

.content-cat-detail {
    display: flex;
    justify-content: flex-start; 
    align-items: stretch; 
    gap: 30px;
    margin-top: var(--margin-xl);
    width: 100%; 
    max-width: 700px; 
}

.pb-none p, .content-cat-detail p {
    font-size: 17px;
}

.content-cat-detail h3 {
    font-size: 25px;
}

.mt-auto {
    margin-top: auto;
}

.synopsis {
    font-size: var(--font-size-xxs) !important;
    margin-top: auto;
    margin-bottom: auto; 
}

.details-book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.auteur {
    font-style: italic;
    margin: var(--margin-xs) 0;
}

.date {
    opacity: 50%;
}

.synopsis, .ft-s-cust {
    font-size: var(--font-size-xxs) !important;
}

.btn-details {
    text-decoration: underline;
    font-size: var(--font-size-xxs);
    color: var(--color-dark-purple);
}

.justi-between {
    justify-content: space-between;
}

.align-content {
    align-items: center;
    gap: 5px;
}

@media (max-width: 500px) {
    .bg-cust {
        background-color: rgba(39, 153, 229, 0.33);
    }

    .mb-4 {
        margin-bottom: 55px;
    }

    .cust-link {
        display: block;
        padding-top: var(--padding-m);
        padding-left: 20px;
        text-decoration: underline;
        font-size: var(--font-size-xs);
    }

    .p-none {
        margin-top: var(--margin-m);
    }

    .justi-between {
        flex-direction: column;
        align-items: flex-start;
    }

    .align-content {
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
}
