@import url("./styles.css");
@import url("./index-mobile.css");

/* Bloc 1 PC - Slide */
.bloc-slide {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-image: url('../images/home-slide-picture.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 63, 192, 0.7);
    z-index: 1;
}

.content-slide {
    position: relative;
    z-index: 2;
    text-align: center;
}

.content-slide h1,
.content-slide h2 {
    color: var(--color-white);
}

.content-slide h1{
    font-size: 80px;
}

.content-slide h2{
    font-size: 45px;
    font-weight: 500;
    margin: 0px 1%;
}

/* Bloc 2 PC - Comment ça marche */
.bg-about {
    background-image: url('../images/bg-bloc-about.png');
    background-size: cover;
}

.bg-about .main-container {
    padding-bottom: 0;
}

.bloc-icons {
    display: flex;
    justify-content: space-around;
    margin-top: var(--margin-xxl);
    padding: 0px 5%;
    flex-wrap: wrap;
    z-index: 2;
}

.bloc-icons div {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.bloc-icons img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: var(--margin-l);
}

.bloc-icons p {
    margin: 0px 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 44%;
    left: 50%;
    transform: translateX(-50%);
}

.heading-mobile {
    display: none;
}

/* Bloc 3 PC - nouveautés */
.bloc-mobile-cat {
    display: none;
}
.bg-news {
    background-image: url('../images/bg-bloc-news.png');
    background-size: cover;
    border: 1px solid rgba(255, 0, 0, 0);
}

.bg-news .main-container {
    padding: 20px 0px;
}

.title-upper.cust-color {
    color:rgba(255, 255, 255, 0.438);
}

.cust-justi {
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    padding: 60px 0 30px 30px;
    list-style: none;
    display: flex;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: rgb(238, 121, 11);
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.item, .item2 {
    height: auto; 
    text-align: center;
    margin-right: var(--margin-s);
}

.item {
    width: 30vh; 
}

.item img, .item2 img {
    object-fit: cover; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.item img {
    width: 150px;
    height: 220px;
}

.item p, .item2 p {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    white-space: normal;
}

.item img:hover, .item2 img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

/* Bloc 4 PC - coup de coeur */

.bg-fav {
    background-image: url('../images/bg-bloc-fav.png');
    background-size: cover;
    border: 1px solid rgba(255, 0, 0, 0);
}

.bg-fav .main-container {
    padding: 20px 0px;
}

.item2 {
    width: 43vh; 
}

.item2 img {
    width: 250px;
    height: 120px;
}

.item2More {
    background-color: #653FC0;
}

/* Bloc 5 PC - recherche catégories */

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-green {
    background-color: var(--color-light-green);
}

.bg-purple {
    background-color: var(--color-purple);
}

img[src*="icon_policier.svg"],
img[src*="icon_romance.svg"],
img[src*="icon_science_fiction.svg"],
img[src*="icon_horreur.svg"],
img[src*="icon_fantaisie.svg"],
img[src*="icon_theatre.svg"] {
    filter: brightness(0) saturate(100%) invert(13%) sepia(29%) saturate(4112%) hue-rotate(266deg) brightness(81%) contrast(95%);
}

.custGap {
    gap: 10px;
}

.custMarg {
    margin-top: var(--margin-s);
}

.square-block {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.square-block:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);/
}

.square-block p {
    /* margin-top: 14px; */
    font-size: 17px;
    font-weight: 600;
}

.m-cat {
    margin-top: 12px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bloc-horizontal {
    flex-direction: row;
    gap: 15px;
}

.flex-50 {
    flex: 1;
}

.hide-mob {
    margin: 0 auto;
}

.cust-title-cat {
    text-align: end;
    margin-left: auto;
}

.cust-title-cat button {
    margin-top: var(--margin-l);
}

.search-title {
    font-size: 55px !important;
}

.btn-category {
    color: white;
    display: inline-block; 
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    margin-top: var(--margin-l);
}

.bg-wave {
    background-image: url('../Vague_arrière_plan.png');
    background-size: cover;
    border: 1px solid rgba(255, 0, 0, 0);
}

