@import url("./styles.css");
@import url("./index.css");

/* Responsif HomePage*/
@media (max-width: 500px) {
    .item p, .item-fav p {
        font-size: 4vw;
    }

    .item {
        margin-right: 0;
    }

    .item-fav {
        width: 39vh; 
    }

    .bloc-slide, .bloc-about, .title-destock, .hide-mob {
        display: none;
    }

    .bloc-mobile-cat {
        display: block;
    }

    .heading-mobile {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding: 20px 25px;
    }

    .heading-mobile h1 {
        margin-left: var(--margin-m);
        opacity: 50%;
    }

    .logo-head-mobile {
        width: 50px;
        height: auto;
    }

    .bloc-news {
        background-image: none;
        border: 1px solid rgba(255, 0, 0, 0);
    }

    .bloc-mobile-cat h2 {
        font-size: 35px;
    }
    .bloc-mobile-cat p {
        font-size: var(--font-size-xxs);
        text-decoration: underline;
    }

    .custom-mob {
        align-items: center;
    }

    /* bloc favorie */
    .bloc-fav {
        background-image: none;
        background-color: rgba(102, 63, 192, 0.6);
        border: 1px solid rgba(255, 0, 0, 0);
    }

    /* bloc catégorie */
    .bloc-list-cat {
        margin-top: var(--margin-l);
    }

    .txt-deco-none {
        text-decoration: none !important;
    }

    .square-block {
        width: 100%;
        justify-content: flex-start;
        padding: 15px 30px;
    }

    .square-block img {
        width: 30px;
        height: auto;
    }

    .content-list-cat {
        gap: 15px;
        padding: 0px 0 30px 30px;
    }

    .bg-wave {
        margin-top: 30px;
    }
}

@media (max-width: 685px) {
    .cust-justi .btn-book {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .item {
        width: 40vw;
    }

    .item p {
        font-size: 3vw;
    }
}

@media (max-width: 1356px) {
    .line {
        display: none;
    }
}

@media (max-width: 1024px) {
    .reverse-column {
        flex-direction: column-reverse; 
    }

    .cust-title-cat {
        text-align: center;
        margin-left: 0;
    }

    .hide-mob {
        margin-bottom: 20px; 
    }

    .title-destock {
        margin-bottom: 45px;
    }

    .btn-category {
        margin-top: var(--margin-s);
    }
}