@import url("./styles.css");
@import url("./index.css");

/* Responsif HomePage*/
@media (max-width: 501px) {
    .item p {
        font-size: 4vw;
    }

    .item {
        margin-right: 0px;
    }

    .bloc-slide, .bg-about, .title-destock {
        display: none;
    }

    .title-mobile {
        display: block;
    }

    .heading-mobile {
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding: 20px 25px;
    }

    .heading-mobile h1 {
        margin-left: 15px;
        opacity: 50%;
        /* font-size: 16px; */
    }

    .logo-head-mobile {
        width: 50px;
        height: auto;
    }

    .bg-news {
        background-image: none;
        border: 1px solid rgba(255, 0, 0, 0);
    }

    .title-mobile h2 {
        font-size: 35px;
    }
    .title-mobile p {
        font-size: 15px;
        text-decoration: underline;
    }

    .custom-mob {
        align-items: center;
    }
}

@media (max-width: 685px) {
    .cust-justi .btn-book {
        margin-top: 20px;
    }
}

@media (max-width: 1356px) {
    .line {
        display: none;
    }
}

@media (max-width: 768px) {
    .item {
        width: 40vw; /* Ajuster la largeur des items pour les écrans moyens */
    }

    .item p {
        font-size: 3vw; /* Ajuster la taille du texte pour les écrans moyens */
    }
}