@import url("./styles.css");


.flex-end
{
    justify-content: space-between;
}

.icon-review {
    width: 20px;
    margin-top: -6px;
    margin-left: 2px;
}

.grey-text {
    color: rgba(108, 108, 108, 0.44);
    font-size: var(--font-size-xs);
    margin-top: 4px;
    margin-bottom: 4px;
}

hr {
    border : 0.5px solid rgba(108, 108, 108, 0.44);
}

.btn-add-list, .btn-book {
    font-family: 'Montserrat', sans-serif;
}

.customer-reviews h2 {
    margin-top: 40px;
}

.carousel {
    overflow-x: auto;
    padding: 60px 0 30px 30px;
    list-style: none;
    display: flex;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: rgb(238, 121, 11);
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.item, .item-fav {
    height: auto;
    text-align: center;
    margin-right: var(--margin-s);
}

.img-profile {
    width: auto;
    height: 68px;
    margin-right: 8px;
}

.comment {
    font-size: var(--font-size-xs);
    margin-top: 4px;
}

.review-card {
    align-items: center;
}

@media (min-width: 501px) {
    .img-mobile {
        display: none;
    }

    .img-desktop {
        width: 336px;
        height: auto;
        border-radius: 12px;
        margin-bottom: 23px;
        margin-right: 35px;
    }

    h1 {
        margin-top: -20px;
        margin-bottom: 15px;
    }

    .flex-desktop {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .book-details {
        width: 65%;
    }

    hr {
        margin-top: 20px;
    }

    h2 {
        font-size: var(--font-size-m);
    }

    .buttons-desktop {
        margin-top: -23px;
    }

    .buttons-mobile {
        display: none;
    }

    .btn-book {
        margin-left: 17px;
    }

    .reviews-mobile {
        display: none;
    }

    .review-card {
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        padding: var(--padding-m);
        margin-right: var(--margin-l);
        border: 1px solid var(--color-purple);
    }

    .review-text {
        width: 500px;
        height: 100px;
        flex-direction: column;
    }

    .comment {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-top: 10px;
    }
}

@media (max-width: 1300px) {
    .book-details {
        width: 50%;
    }
}

@media (max-width: 925px) {
    .book-details {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        width: 100vw;
        height: 220px;
        background-image: url('../images/couverture_powerle.jpg');
        background-size: cover;
        background-position: 50% 25%;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .img-mobile-psy {
        width: 100vw;
        height: 220px;
        background-image: url('../images/couverture_la_psy.jpg');
        background-size: cover;
        background-position: 50% 31%;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    h1 {
        font-size: var(--font-size-xl);
    }

    h2 {
        font-size: var(--font-size-s);
        margin-top: 20px;
    }

    .buttons-mobile {
        justify-content: space-between;
        margin-top: 25px;
    }

    .buttons-desktop {
        display: none;
    }

    .author {
        font-size: var(--font-size-xs);
        margin-top: 3px;
    }

    .carousel {
        display: none;
    }

    .review-card {
        margin-top: 25px;
    }

    .reviews-mobile {
        margin-bottom: 30px;
    }
}