@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color */
    --color-dark-purple: #291755;
    --color-purple-category: #F3EEFF;
    --color-purple: #653FC0;
    --color-light-purple: #8E6BE1;
    --color-yellow: #FFC201;
    --color-blue: #2799E5;
    --color-light-green: #A5B525;
    --color-pink: #C9225B;
    --color-white: #FFFFFF;
    /* Font-size */
    --font-size-xxxs: 13px;
    --font-size-xxs: 15px;
    --font-size-xs: 16px;
    --font-size-s: 20px;
    --font-size-m: 24px;
    --font-size-l: 28px;
    --font-size-xl: 30px;
    --font-size-xxl: 40px;
    --font-size-xxxl:4.167vw;  /* 64px */
    /* Margin */
    --margin-xs: 5px;
    --margin-s: 10px;
    --margin-m: 15px;
    --margin-l: 25px;
    --margin-xl: 35px;
    --margin-xxl: 60px;
    --margin-xxxl: 150px;
    /* Padding */
    --padding-xxxs: 5px;
    --padding-xxs: 8px; 
    --padding-xs: 12px;
    --padding-s: 15px;
    --padding-m: 25px;
    --padding-l: 45px;
    --padding-xxxl: 150px;
}

body {
    margin : 0;
}

/* Typographie */
h1, h2, h3, p, li, ul {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-dark-purple);
    margin: 0;
}

h1 {
    font-weight: bolder; 
    font-size: var(--font-size-xxxl);
}

h2 {
    font-weight: bold; 
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-m);
}

p {
    font-size: var(--font-size-s);
}

p.title-upper {
    font-size: var(--font-size-xxl);
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(24, 12, 54, 0.17);
}

a {
    text-decoration: none;
}

/* Boutons */
.btn-add-list, .btn-book, .btn-nl {
    border: none;
    border-radius: 25px;
    color: var(--color-white);
    padding: var(--padding-xs) var(--padding-m);
    font-size: var(--font-size-xs);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-add-list {
    background: linear-gradient(45deg, var(--color-light-purple), #4D2B9F);
}

.btn-add-list:hover {
    background: linear-gradient(45deg, var(--color-light-purple), #341D52); /
}

.btn-book {
    background: var(--color-yellow);
}

.btn-book:hover {
    background: #CF9E00;
}

.btn-nl {
    background-color: rgba(102, 63, 192, 0.3);
    color: var(--color-dark-purple) ;
}

.btn-nl:hover {
    background: rgba(102, 63, 192, 0.8);
    color: var(--color-white);
}

/* Blocs - Propriété */
.icon-size {
    width: 30px;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 5vw 10vw;
    padding-bottom: 75px;
    position: relative; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* Navbar PC */
.bg-white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: var(--padding-s) var(--padding-l);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 200px;
    height: auto;
}

.logo-footer {
    width: auto;
    height: 130px;
    border-right: 1px solid rgba(40, 23, 84, 0.3);
    padding-right: 80px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--color-dark-purple);
}

.right-section {
    display: flex;
    align-items: center;
}

.icon-profil-nav {
    width: 40px;
    height: auto;
    margin-left: var(--margin-s);
}


.profile-menu-container {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.profile-menu {
    display: none;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 0;
    width: 200px;
}

.profile-menu p {
    font-size: 16px;
}

.profile-menu a {
    color: black;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
}

.profile-menu a:hover {
    background-color: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.separator-profil {
    height: 1px;
    background-color: #e0e0e0;
    margin: 0;
}

/* Affichage du menu lorsque l'icône est cliqué */
.show-menu {
    display: block;
}


/* Navbar Tablette */
.menu-burger {
    display: none; 
    font-size: var(--font-size-xl); 
    cursor: pointer;
}

.menu-container {
    display: none;
    background-color: var(--color-white);
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Navbar Mobile */
.navmobile {
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
    position: fixed; 
    padding: var(--padding-m) 0;
    left: 0;    
    bottom: 0;
    width: 100%;
    z-index: 1000;  
}

/* Footer */
.bg-white-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-white);
    padding: var(--padding-l) var(--padding-xxxl);
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.bg-white-footer-bis {
    padding: var(--padding-xs) 0;
    border-top: 1px solid rgba(40, 23, 84, 0.1);
    text-align: center;
    background-color: var(--color-white);
}

.bg-white-footer-bis p {
    font-size: var(--font-size-xxs);
}

.social-media {
    display: flex;
}

.icon-rs {
    padding-left: var(--padding-xs);
    margin-top: -9px;
}

.form-nl {
    border: 1px solid var(--color-purple);
    opacity: 30%;
    border-radius: 25px;
    padding: var(--padding-xs) 20px;
}

.form-nl::placeholder {
    font-size: var(--font-size-xs);
}

footer h3 {
    padding-bottom: var(--padding-xxs);
}

footer li {
    padding-bottom: var(--padding-xxxs);
}

/* Responsice Design */
@media (min-width: 501px) {
    
}

@media (max-width: 772px) {
    /* Navbar Tablette */
    .menu-burger {
        display: block; 
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }

    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .menuPC {
        display: none;
    }
}

@media (max-width: 500px) {
    .rm-mobile {
        display: none; 
    }

    /* Navbar Mobile */
    .navmobile {
        display: block;
    }

    .icon-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        display: none;
    }
    
}